<h1>AGREGAR SNACK</h1>
<br>
<div class="col-md-4-offset-md-2">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <input type="text" name="snack" [(ngModel)]="snack.snack" placeholder="Nombre Snack" class="form-controll" autofocus>
                </div>
                <br>
                <div>
                    <input type="number" name="precio" [(ngModel)]="snack.precioSnack" placeholder="Precio Snack" class="form-controll" autofocus>
                </div>
                <br>
                <div>
                    <input type="text" name="descripcion" [(ngModel)]="snack.descSnack" placeholder="Descripción Snack" class="form-controll" autofocus>
                </div>
                <br>
                <div>
                    <input type="url" name="foto" [(ngModel)]="snack.fotoSnack" placeholder="Foto de Snack" class="form-controll" autofocus>
                </div>
                <br>
                <button class="btn btn-outline-success" (click)="saveNewSnack()">Agregar</button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-body text-center">
        <img [src]="snack.fotoSnack" class="card-img-top">
        <h1>{{snack.idSnack}}:<b>{{snack.snack}}</b></h1>
        <h2><i>{{snack.precioSnack}} - {{snack.descSnack}}</i></h2>
    </div>
</div>

