<h2>COMIDAS</h2>
<br>
<div class="col-md-4" *ngFor="let comida of comidas">
    <div class="card border-dark mb-3 text-center">
        <div class="card-header text-black d-felx justify-content-between align-items-center" style="background-color: beige; font-size: x-large; font-style: oblique;">
            {{comida.idComida}}. {{comida.comida}}
            <a class="btn btn-light">Disponible</a>
        </div>
        <img [src]=comida.fotoComida class="card img-top">
        <div class="card-body">
            <p style="text-align: left;"><b>Precio: </b><i>${{comida.precioComida}}</i></p>
            <p style="text-align: left;"><b>Descripción: </b><i>{{comida.descComida}}</i></p>
            <button [routerLink]="['/comidas/edit',comida.idComida]" type="button" class="btn btn-success">Editar</button>
            <button type="button" class="btn btn-danger" (click)="deleteComida(comida.idComida)">Eliminar</button>
        </div>
    </div>
</div>
<div class="card text-center border-success mb-3" style="max-width: 18rem;">
    <br>
    <div class="card-header bg-transparent border-success"></div>
    <div class="card-body text-success">
        <br>
      <h6 class="card-title">Nueva Comida</h6>
      <br>
      <h5 class="card-title">Agrega una nueva comida!</h5>
      <br>
      <a type="button" class="btn btn-outline-warning btn-lg" href="/comidas/add">Guardar</a>
    </div>
    <div class="card-footer bg-transparent border-success"></div>
    <br>
</div>
