<h2>COMIDAS</h2>
<br>
<div class="col-md-4" *ngFor="let comida of comidas">
    <div class="card text-center">
        <div class="card-header text-black d-felx justify-content-between align-items-center" style="background-color: beige; font-size: x-large; font-style: oblique;">
            {{comida.idComida}}. {{comida.comida}}
            <a class="btn btn-light">Disponible</a>
        </div>
        <img [src]=comida.fotoComida class="card img-top">
        <div class="card-body">
            <p style="text-align: left;"><b>Precio: </b><i>${{comida.precioComida}}</i></p>
            <p style="text-align: left;"><b>Descripción: </b><i>{{comida.descComida}}</i></p>
            <button type="button" class="btn btn-success">Editar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
        </div>
    </div>
</div>
