<h1>AGREGAR COMIDA</h1>
<br>
<div class="col-md-4-offset-md-2">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <input type="text" name="comida" [(ngModel)]="comida.comida" placeholder="Nombre Comida" class="form-controll" autofocus>
                </div>
                <br>
                <div>
                    <input type="number" name="precio" [(ngModel)]="comida.precioComida" placeholder="Precio Comida" class="form-controll" autofocus>
                </div>
                <br>
                <div>
                    <input type="text" name="descripcion" [(ngModel)]="comida.descComida" placeholder="Descripción Comida" class="form-controll" autofocus>
                </div>
                <br>
                <div>
                    <input type="url" name="foto" [(ngModel)]="comida.fotoComida" placeholder="Foto de Comida" class="form-controll" autofocus>
                </div>
                <br>
                <button class="btn btn-outline-success" (click)="edit?updateComida():saveNewComida()">Guardar</button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-body text-center">
        <img [src]="comida.fotoComida" class="card-img-top">
        <h1>{{comida.idComida}}:<b>{{comida.comida}}</b></h1>
        <h2><i>{{comida.precioComida}} - {{comida.descComida}}</i></h2>
    </div>
</div>
